html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    width: 75vh;
    height: 100vh;
}

button[id^="button"] {
    color:rgb(75, 15, 228);
}

.display {
    display: inline-block;
    border: 1px solid black;
    font-size: 25px;
    min-width: 120px;
    max-width: 200px;
    width: 50%;
    margin-bottom: 1em;
    padding: 1em;
    font-family:'Times New Roman', Times, serif
}

#button-container {
    height: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 11px;
    grid-row-gap: 11px;
}

button {
    font-size: 33px;
}

.buttons {
    display: grid;
}

#buttonClear {
    color: rgb(218, 103, 21);
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#buttonBack {
    color: rgb(179, 5, 14);
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

#calcDivide {
    color: rgb(177, 33, 168);
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

#calcMultiply {
    color: rgb(177, 33, 168);
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: 3;
}

#calcSubtract {
    color: rgb(177, 33, 168);
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: 4;
}

#calcAdd {
    color: rgb(177, 33, 168);
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: 6;
}