html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(238, 208, 34);
}

#biggest {
    border: 5px solid black;
    border-radius: 8px;
    padding: 2em;

}

button[id^="button"] {
    color:rgb(75, 15, 228);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 1.25em;
 }

span {
    display: inline-block;
  }
  
img {
    vertical-align:middle;
}

footer a, a:visited {
    text-decoration: none;  
    color: black;
   } 

#biggest {
    background-color: rgb(249, 133, 61);
}
 
.display {
    text-align: center;
    display: inline-block;
    border: 3px solid black;
    background-color: white;
    border-radius: 8px;
    font-size: 40px;
    min-width: 200px;
    max-width: 380px;
    width: 100%;
    margin-bottom: 1em;
    padding: 1em;
    font-family: 'Roboto Mono', monospace;
}

#button-container {
    height: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 11px;
    grid-row-gap: 11px;
}

button {
    font-size: 30px;
    min-width: 45px;
    min-height: 45px;
    font-family: 'Roboto Mono', monospace;
    border: 2px solid black;
    border-radius: 6px;
    background-color: beige;
}

.buttons {
    display: grid;
}

#buttonClear {
    color: rgb(218, 103, 21);
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#buttonBack {
    color: rgb(179, 5, 14);
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

#calcDivide {
    color: rgb(177, 33, 168);
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

#calcMultiply {
    color: rgb(177, 33, 168);
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: 3;
}

#calcSubtract {
    color: rgb(177, 33, 168);
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: 4;
}

#calcAdd {
    color: rgb(177, 33, 168);
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: 6;
}

.sidepanel {
    height: 150px;
    max-height: 800px;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 45px; 
    transition: 0.5s; 
  }
  
.sidepanel a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
.sidepanel a:hover {
    color: #ebe649;
  }
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-align: center;
  }

.what, .who {
    text-align: center;
  }
  
.openbtn {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 10%;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
.openbtn:hover {
    background-color: rgb(237, 34, 145);
  }

#content1, #content2 {
    display: none;
    padding: 5px;
    margin: 5px;
  }

/* #hidden1, #hidden2 {
    display:none;
} */